name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    
    - name: clone the ndless repo for the sdk
      run: git clone https://github.com/ndless-nspire/Ndless

    - name: build ndless toolchain
      run: cd "Ndless/ndless-sdk/toolchain" && ./build_toolchain.sh

    - name: make ndless toolchain
      run: cd "../.." && PATH=$PATH:$(pwd)/ndless-sdk/toolchain/install/bin:$(pwd)/ndless && make -j$(nproc)

    - name: finally make the goddamn thing
      run: cd .. && make -j$(nproc)
