name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Build toolchain
      run: cd "Ndless/ndless-sdk/toolchain" && ./build_toolchain.sh

    - name: Run makefile
      run: cd "../.." && PATH=$PATH:$(pwd)/ndless-sdk/toolchain/install/bin:$(pwd)/ndless && make -j$(nproc)
